%div {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.div-green {
    @extend %div;
    background-color: green;
}

.div-red {
    @extend %div;
    background-color: red;
}

.div-blue {
    @extend %div;
    background-color: blue;
}