.bg-gray {
    background-color: #f7f9fc;
}

.bg-skyblue {
    background-color: #6fbaf8
}

.color-skyblue {
    color: #6fbaf8
}

.white-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 1px #eee;
}